<h1>Student Detail</h1>

	<table>
     <tr> <td>Name:</td><td></td> <td><%= @student.name %></td><br></tr>
     <tr> <td>Address:</td><td></td>  <td><%= @student.address %></td><br></tr>
     <tr> <td>Email:</td><td></td> <td><%= @student.email %></td><br></tr>
    </table>
<br>